/*
    Font Families
*/

// Spore
@font-face {
  font-family: spore;
  src: url('fonts/spore-bold.woff2') format('woff2'),
       url('fonts/spore-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: spore;
  src: url('fonts/spore-light.woff2') format('woff2'),
       url('fonts/spore-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: spore;
  src: url('fonts/spore-regular.woff2') format('woff2'),
       url('fonts/spore-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Muli
@font-face {
  font-family: muli;
  src: url('fonts/muli-bold.woff2') format('woff2'),
       url('fonts/muli-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: muli;
  src: url('fonts/muli-bolditalic.woff2') format('woff2'),
       url('fonts/muli-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
    font-family: muli;
    src: url('fonts/muli-italic.woff2') format('woff2'),
         url('fonts/muli-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: muli;
    src: url('fonts/muli.woff2') format('woff2'),
         url('fonts/muli.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
